<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.2/engine/Shopware/Components/Plugin/schema/plugin.xsd">
    <label lang="de">TYPO3-Connector</label>
    <label lang="en">TYPO3-Connector</label>

    <version>2.0.3</version>

    <copyright>© 2017 by portrino GmbH</copyright>

    <license>MIT</license>

    <link>http://www.portrino.de</link>

    <author>portrino GmbH</author>

    <description lang="de">Ermöglicht die Kommunikation mit der TYPO3-Erweiterung "PxShopware"</description>
    <description lang="en">Enables communication with TYPO3-Extension "PxShopware".</description>

    <changelog version="2.1.0">
        <changes lang="de">
            [BUGFIX] Fügt Artikel API Resource hinzu, um die translateArticle() Methode aus der Eltern-Resource zu
            erweitern/ dekorieren. Die stellt den Patch SW-20486 für Shopware mit der Version kleiner als v5.4.0 zur
            Verfügung.
        </changes>
        <changes lang="en">
            [BUGFIX] adds article api resource component to extend/ decorate the translateArticle() method
            to apply patch from SW-20486 for Shopware version lower than v5.4.0
        </changes>
    </changelog>

    <changelog version="2.0.3">
        <changes lang="de">
            OpenSource Release on GitHub
        </changes>
        <changes lang="en">
            OpenSource Release on GitHub
        </changes>
    </changelog>

    <changelog version="2.0.2">
        <changes lang="de">
            [FEATURE]    Fügt die Möglichkeit hinzu über einen Key in der config.php die checkLicence() Methode
            zu umgehen.
        </changes>
        <changes lang="en">
            [BUGFIX]    Adds possibility to prevent checkLicence() method via key in config.php
        </changes>
    </changelog>

    <changelog version="2.0.1">
        <changes lang="de">
            [BUGFIX]    Behebt einen Fehler welcher nach dem Speichern eines Artikels auftritt, wenn für den aktuellen
            Backend Benutzer keine TYPO3 API-URL hinterlegt ist.
        </changes>
        <changes lang="en">
            [BUGFIX]    Fixes a bug which leads to an exception after create / update / delete article in backend when
            there is no TYPO3 API-URL configured for the current backend user.
        </changes>
    </changelog>

    <changelog version="2.0.0">
        <changes lang="de">
            [FEATURE]   Benachrichtigung von TYPO3 wenn Artikel, Kategorie, Media oder Shop Model hinzugefügt, geändert
                        oder gelöscht wird

            [FEATURE]   Fügt Bestellnummer an /articles API-Aufruf zur Performance-Optimierung auf TYPO3-Seite

            [TASK]      Adaption des Plugins an das Shopware 5.2 Plugin System
                        (https://developers.shopware.com/developers-guide/plugin-system/)

            [BUGFIX]    Fehlerbehung das Urls in API Antwort nicht die Konfiguration des Shops berücksichtigen
                        (z.B.: secureHost, secure, baseUrl,...)
        </changes>
        <changes lang="en">
            [FEATURE]   Adds NotificationService to send notification message to TYPO3 if article, product, shop or
                        media model created, updated or deleted

            [FEATURE]   Adds Order Number to API /article response to improve performance on TYPO3 site

            [TASK]      Plugin Adaption to new Shopware 5.2 Plugin System
                        (https://developers.shopware.com/developers-guide/plugin-system/)

            [BUGFIX]    Fixes bug where the url`s to the articles and categories do not respect the shop settings
                        from backend (e.g. secureHost, secure, baseUrl, ...)
        </changes>
    </changelog>

    <compatibility minVersion="5.2.0" />
</plugin>